<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <title>Creative Agency Template</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68929300-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-68929300-2');
    </script>
</head>

<body>
    <button>
        <div class="template-button">
            <a href="../creative-agency-template.html">Download template <i class="icon ion-md-download"></i></a>
        </div>
    </button>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" id="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../creative-agency-template.html">Download now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="hero">
        <div class="container">
            <div class="heading-wrapper">
                <h1>Fast forward to the future of finance and insurance</h1>
                <p>We are on a mission to change how we interact with finance and insurance. We build digital products
                    and care about accessible and user-centered design.</p>
                <a href="" class="primary-btn">Get in touch</a>
                <a href="" class="secondary-btn">How we work</a>
            </div>
        </div>
    </section>

    <section id="pricing">
        <div class="container">
            <div class="heading-wrapper">
                <h2>Ship your Fintech Service up to 5x times Faster.</h2>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pb-header">
                            <i class="icon ion-md-flame"></i>
                            <h6>Free</h6>
                            <p>Start working right now using our 100% free plan.</p>
                        </div>
                        <div class="pb-subscription">
                            <h5>$0</h5>
                            <p>billed monthly per user</p>
                            <a href="" class="primary-btn">Try now</a>
                        </div>
                        <div class="pb-features">
                            <h6 class="text-center">What's included:</h6>
                            <ul class="topmargin-sm">
                                <li><i class="icon ion-md-checkmark-circle"></i>Up to 5 users</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>One project</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>Basic dashboard</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>Up to 20MB of file storage</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box pb-active">
                        <div class="pb-header pb-header-active">
                            <i class="icon ion-md-flame"></i>
                            <h6 class="pb-white">Basic</h6>
                            <p>Start working right now using our 100% free plan.</p>
                        </div>
                        <div class="pb-subscription pb-subscription-active">
                            <h5 class="pb-white">$0</h5>
                            <p>billed monthly per user</p>
                            <a href="" class="secondary-btn">Try now</a>
                        </div>
                        <div class="pb-features">
                            <h6 class="text-center pb-white">What's included:</h6>
                            <ul class="topmargin-sm pb-white">
                                <li><i class="icon ion-md-checkmark-circle pb-white"></i>Up to 5 users</li>
                                <li><i class="icon ion-md-checkmark-circle pb-white"></i>One project</li>
                                <li><i class="icon ion-md-checkmark-circle pb-white"></i>Basic dashboard</li>
                                <li><i class="icon ion-md-checkmark-circle pb-white"></i>Up to 20MB of file storage</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box">
                        <div class="pb-header">
                            <i class="icon ion-md-flame"></i>
                            <h6>Pro</h6>
                            <p>Start working right now using our 100% free plan.</p>
                        </div>
                        <div class="pb-subscription">
                            <h5>$0</h5>
                            <p>billed monthly per user</p>
                            <a href="" class="primary-btn">Try now</a>
                        </div>
                        <div class="pb-features">
                            <h6 class="text-center">What's included:</h6>
                            <ul class="topmargin-sm">
                                <li><i class="icon ion-md-checkmark-circle"></i>Up to 5 users</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>One project</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>Basic dashboard</li>
                                <li><i class="icon ion-md-checkmark-circle"></i>Up to 20MB of file storage</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq">
        <div class="container">
            <div class="heading-wrapper">
                <h2>Frequently asked questions</h2>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
            </div>
            <div id="accordion" class="topmargin-lg">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <i class="icon ion-md-add-circle"></i> What are my payment options?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <i class="icon ion-md-add-circle"></i> Can I upgrade my plan?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="icon ion-md-add-circle"></i> Can I cancel my plan at anytime?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="blog">
        <div class="container">
            <div class="heading-wrapper">
                <h2>Ship your Fintech Service up to 5x times Faster.</h2>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <div class="blog-post">
                        <a href=""><img src="assets/images/post-01.png" class="img-fluid" alt=""></a>
                        <div class="blog-post-info">
                            <h4>Performace Benefits</h4>
                            <p>Flexible working hours and vacation</p>
                            <a href="" target="_blank" rel="noopener">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post">
                        <a href=""><img src="assets/images/post-02.png" class="img-fluid" alt=""></a>
                        <div class="blog-post-info">
                            <h4>Performace Benefits</h4>
                            <p>Flexible working hours and vacation</p>
                            <a href="" target="_blank" rel="noopener">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post">
                        <a href=""><img src="assets/images/post-03.png" class="img-fluid" alt=""></a>
                        <div class="blog-post-info">
                            <h4>Performace Benefits</h4>
                            <p>Flexible working hours and vacation</p>
                            <a href="" target="_blank" rel="noopener">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="heading-wrapper">
                <h3>Ship your Fintech Service up to 5x times Faster.</h3>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
                <a href="../creative-agency-template.html" class="primary-btn">Download now</a>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <small>© Creative Agency 2019</small>
                </div>
                <div class="col-md-4">
                    <a href="" target="_blank" rel="noopener"><i class="icon ion-logo-instagram"></i></a>
                    <a href="" target="_blank" rel="noopener"><i class="icon ion-logo-linkedin"></i></a>
                    <a href="" target="_blank" rel="noopener"><i class="icon ion-logo-facebook"></i></a>

                </div>
                <div class="col-md-4">
                    <small>Created by <a href="http://themesbootstrap.com.mx/">Themes Bootstrap</a></small>
                </div>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>