<!doctype html>
<html lang="es-MX">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">


    <title>Hello, world!</title>
  </head>
  <body>
  <section id="content">
    <a href="../../index.html" id="back-button">Back to Homepage</a>
    <section id="call-to-action">
      <div class="container">
        <div class="col-md-6">
          <h3>File tracking and integrations.</h3>
          <p>Keep track of file versions on our platform. Not happy with the latest version of the file? Revert back to prior versions instantly.</p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </section>


    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>Simplify your project management.</h5>
            <p>Sign up and start working right now on your next big thing.</p>
          </div>
          <div class="col-md-6">
            <div class="footer-buttons">
              <a href="" class="btn">Sign in</a>
              <a href="" class="btn btn-dark">Get Started Now</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-md-6">
              <p>Mail us at:free@bootstrap or call(310) 897 1234</p>
            </div>
            <div class="col-md-6 tright">
              <ul>
                <li>Features</li>
                <li>Pricing</li>
                <li>Log in</li>
                <li>Sign up</li>
              </ul>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6 tright">
              <ul>
                <li>Follow us on social media:</li>
                <li><i class="icon ion-logo-instagram"></i></li>
                <li><i class="icon ion-logo-facebook"></i></li>
                <li><i class="icon ion-logo-linkedin"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section id="copyrights">
        <small>© 2018 Free template Terms of usage - Privacy Policy</small>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </section>
  </body>
</html>