body {
  background-color: #000000;
  font-family: 'Rubik', sans-serif;
  letter-spacing: .05em;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topmargin-sm {
  margin-top: 30px;
}

.heading-title {
  max-width: 780px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 4px;
  color: #ffffff;
  margin: 0 8px;
}

.main-btn {
  background-color: #2561EA;
}

.main-btn:hover {
  opacity: .9;
  color: #ffffff;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid rgb(255,255,255, 0.5)
}

.btn-transparent:hover {
  background-color: #ffffff;
  color: #000000;
}

#hero {
  padding: 80px 0;
  text-align: center;
  color: #ffffff;
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

#hero p {
  font-size: 28px;
  margin-bottom: 30px;
}

#templates {

}

.template {
  position: relative;
  margin: 20px 0;
}

.tag-label {
  position: absolute;
  background-color: #2561EA;
  color: #ffffff;
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 3px;
  right: 5px;
  top: 5px;
}

#footer {
    background-color: #14141a;
    color: #f9f9f9;
    padding: 32px;
    border-bottom: 1px solid #383838;
}
  
  #footer li a {
    font-size: 13px;
    display: inline-block;
    margin: 0 8px;
    color: white;
    text-decoration: none;
  }

  #copyright {
    background-color: #14141a;
    color: #5B5B5B;
    padding: 60px;
  }

  #copyright i {
      font-size: 20px;
      color: #5B5B5B;
  }

  .icons-container {
    margin: 0 auto;
    text-align: center;
  }

  .icon-box {
      padding: 5px;
      border: 1px solid #5B5B5B;
      width: 40px;
      height: 40px;
      text-align: center;
      display: inline-block;
  }

  /* Media Queries */
@media (max-width: 575.98px) {
  #hero h1 {
    font-size: 36px;
  }
  #hero p {
    font-size: 18px;
  }

  #footer {
    padding: 32px 0;
    border-bottom: none;
  }

  #footer .container-fluid {
    padding: 0px;
  } 

  #footer li {
    float: none;
    text-align: center;
    padding: 22px 0;
    border-bottom: 1px solid #383838;
  }

  #footer li a {
    font-size: 16px;
  }

  .icons-container {
    margin-top: 30px;
  }
  .list-inline {
    padding-left: 0px;
  }
  .list-inline-item {
    display: inherit;
  }
}

@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { 

}