body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: .05em;
}

.topmargin-sm {
  margin-top: 30px;
}

#footer {
    background-color: #2C2A2A;
    color: #f9f9f9;
    padding: 32px;
    border-bottom: 1px solid #383838;
}
  
  #footer li a {
    font-size: 13px;
    display: inline-block;
    margin: 0 8px;
    color: white;
    text-decoration: none;
  }

  #copyright {
    background-color: #2C2A2A;
    color: #5B5B5B;
    padding: 60px;
  }

  #copyright i {
      font-size: 20px;
      color: #5B5B5B;
  }

  .icons-container {
    margin: 0 auto;
    text-align: center;
  }

  .icon-box {
      padding: 5px;
      border: 1px solid #5B5B5B;
      width: 40px;
      height: 40px;
      text-align: center;
      display: inline-block;
  }

  /* Media Queries */
@media (max-width: 575.98px) {
  #footer {
    padding: 32px 0;
    border-bottom: none;
  }

  #footer .container-fluid {
    padding: 0px;
  } 

  #footer li {
    float: none;
    text-align: center;
    padding: 22px 0;
    border-bottom: 1px solid #383838;
  }

  #footer li a {
    font-size: 16px;
  }

  .icons-container {
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { 

}