<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="Diego Velázquez" />
  <meta name="description" content="Free Bootstrap Themes and Templates">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- Ionic icons -->
  <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.png" />

  <title>Bootstrap Marketplace</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <img src="../assets/images/logo.svg" class="img-fluid navbar-brand header-logo" alt="Themes Bootstrap Logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon ion-md-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li>
            <a class="nav-link" href="../templates.html">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../license.html">License</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.behance.net/diegovr7" target="_blank" rel="noopener"><i class="icon ion-logo-chrome"></i>
              <span class="mobile-only">Behance</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/diegovr7/" target="_blank" rel="noopener"><i class="icon ion-logo-instagram"></i>
              <span class="mobile-only">Instagram</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://dribbble.com/diegovr7/" target="_blank" rel="noopener"><i class="icon ion-logo-dribbble"></i>
              <span class="mobile-only">Dribbble</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/diegovr7/Bootstrap-Marketplace/" target="_blank" rel="noopener"><i
                class="icon ion-logo-github"></i> <span class="mobile-only">Github</span></a>
          </li>
        </ul>
      </div>
    </div><!-- end container -->
  </nav>

  <section id="template-details">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Guidebook – Online Documentation Template</h1>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="template-details-preview topmargin-sm">
            <a href=""><img src="../assets/images/template-01.png" class="img-fluid template-image" alt="Test image created by Creative Mints"></a>
          </div>
          <div class="template-details-preview">
            <a href="seo-template/index.html" class="preview-button"><i class="icon ion-md-eye"></i> Live Preview</a>
            <a href="#" class="preview-button"><i class="icon ion-md-download"></i> Download</a>
            <a href="https://github.com/diegovr7/Bootstrap-Marketplace" class="preview-button" target="_blank" rel="noopener"><i
                class="icon ion-logo-github"></i> View Source</a>
          </div>
          <h4>Description</h4>
          <p>GuideBook is a powerful, modern and fully responsive HTML5 documentation template built on top of
            Bootstrap 4, and packed with a lot of components.</p>
          <p>Use it to easily document your next template, plugin, framework, app, api, etc.</p>

          <h4 class="topmargin-sm">Features</h4>
          <ul>
            <li><a href="https://github.com/diegovr7/Bootstrap-Marketplace/blob/master/LICENSE">MIT License</a></li>
            <li>Responsive Design</li>
            <li>HTML5 &amp; CSS3</li>
            <li>Bootstrap 4</li>
            <li>4 Documentation Layouts</li>
            <li>3 Help Center Layouts</li>
            <li>SCSS Inlcuded</li>
            <li>Gulp Setup</li>
            <li>W3C Validated Pages</li>
            <li>Feather Icons</li>
            <li>Cross Browser</li>
            <li>Developer Friendly Code</li>
            <li>Lifetime Updates</li>
            <li>Friendly Support</li>
          </ul>

          <h4 class="topmargin-sm">Free updates & support.</h4>
          <p>Our support team is standing by to offer quick and professional one-on-one support to all of our
            customers. All of our customers take advantage of lifetime updates.</p>
          <p>Need help? Send us an email at <a href="mailto:contact@themesbootstrap.com.mx">contact@themesbootstrap.com.mx</a></p>

          <h4 class="topmargin-sm">Documentation</h4>
          <p>We’ve built an easy to use library of all elements, that will help you build up new pages, or customize
            existing ones. We are always improving our documentation. If you miss something please get in touch with
            us. </p>

          <h4 class="topmargin-sm">Need Template customization?</h4>
          <p>Need one of our themes customized? Let us know exactly what you need and we’ll get back to you with a
            quote, just send an email to <a href="mailto:contact@themesbootstrap.com.mx">contact@themesbootstrap.com.mx</a>.</p>

          <div id="comments">
            <div id="disqus_thread"></div>
          </div>

        </div>
        <div class="col-lg-4 col-md-12 topmargin-sm">
          <a href="" class="btn btn-download-template">Download</a>
          <a href="seo-template/index.html" class="btn btn-preview-template"><i class="icon ion-md-eye"></i> Live
            Preview</a>
          <p class="topmargin-sm">Free open source theme, you can use our theme for any purpose, even commercially.</p>
          <table class="table table-description topmargin-sm">
            <tbody>
              <tr>
                <td scope="row" class="fweight-500">Bootstrap</td>
                <td class="tright">v4.1.3</td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Released</td>
                <td class="tright">9 months ago</td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Updated</td>
                <td class="tright">3 weeks ago</td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Version</td>
                <td class="tright">v2.1.1</td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Category</td>
                <td class="tright">Landing & Corporate</td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Questions?</td>
                <td class="tright"><a href="../contact.html">Contact form</a></td>
              </tr>
              <tr>
                <td scope="row" class="fweight-500">Created by</td>
                <td class="tright"><a href="http://templune.com/" rel="noopener" target="_blank">Diego Velázquez</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="container-fluid text-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="../index.html">Home</a></li>
        <li class="list-inline-item"><a href="../templates.html">Templates</a></li>
        <li class="list-inline-item"><a href="../about.html">About</a></li>
        <li class="list-inline-item"><a href="../license.html">License</a></li>
        <li class="list-inline-item"><a href="../contact.html">Contact</a></li>
      </ul>
    </div>
  </section>

  <section id="copyright">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="../index.html"><img src="../assets/images/logo.svg" class="img-fluid logo-footer" alt="Themes Bootstrap Logo"></a>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12">
        <small>© 2019 Themes Bootstrap is a project created and maintained by <a href="http://templune.com/" rel="noopener"
            target="_blank">Diego Velázquez</a> at <a href="https://smartoasis.mx/" rel="noopener" target="_blank">Smart
            Oasis</a>. Themes and templates licensed <a href="https://github.com/diegovr7/themes-Bootstrap/blob/master/LICENSE"
            target="_blank" rel="noopener">MIT</a>. Html5 Templates based on <a href="https://getbootstrap.com/" rel="noopener"
            target="_blank">Bootstrap</a>. If you have general enquiries about the themes and templates or need support
          just send an email to <a href="mailto:contact@themesbootstrap.com.mx">contact@themesbootstrap.com.mx</a>
        </small>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="icons-container">
          <div class="icon-box">
            <a href="https://www.facebook.com/Themes-Bootstrap-2498913066817541/" target="_blank" rel="noopener"><i
                class="icon ion-logo-facebook"></i></a>
          </div>
          <div class="icon-box">
            <a href="https://www.behance.net/diegovr7" target="_blank" rel="noopener"><i class="icon ion-logo-chrome"></i></a>
          </div>
          <div class="icon-box">
            <a href="https://www.instagram.com/diegovr7/" target="_blank" rel="noopener"><i class="icon ion-logo-instagram"></i></a>
          </div>
          <div class="icon-box">
            <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="icon ion-logo-dribbble"></i></a>
          </div>
          <div class="icon-box">
            <a href="https://github.com/diegovr7/Bootstrap-Marketplace" target="_blank" rel="noopener"><i class="icon ion-logo-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://templune.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</body>

</html>