<!doctype html>
<html lang="es-MX">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">

    <title>Bootstrap Marketplace</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Free Bootstrap</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="license.html">License</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="support.html">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/diegovr7/" target="_blank" rel="noopener"><i class="icon ion-logo-instagram"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://dribbble.com/" target="_blank" rel="noopener"><i class="icon ion-logo-dribbble"></i></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/diegovr7/Bootstrap-Marketplace" target="_blank" rel="noopener"><i class="icon ion-logo-github"></i></a>
              </li>
            </ul>
          </div>
        </nav>
        
    <section id="hero">
      <div class="container">
        <div class="heading-title">
          <h1>Canvas</h1>
          <p>Create interfaces quickly and accurately by using the symbol-based design system for Sketch.</p>
          <a href="" class="btn main-btn">Get Started</a><a href="" class="btn btn-transparent">Full Preview</a>
        </div>
      </div>
    </section>

    <section id="template-details">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="template-details-preview">
              <img src="../assets/images/template-01.png" class="img-fluid" alt="Test image created by Creative Mints">
            </div>
            <div class="template-details-preview">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <p>Share</p>
                  <div class="fb-share-button" data-href="http://bootstrap-marketplace.templune.com/template-01.html" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbootstrap-marketplace.templune.com%2Ftemplate-01.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                </div>
              </div>
            </div>
            <h4>Description</h4>
            <p>Canvas is a Powerful, Responsive & Raw Multi-Purpose Multi-Page & One-Page HTML5 Template. Build whatever you like with this Template. Be it Business, Corporate, Medical, Travel, Construction, Real Estate, Media Agency, Portfolio, Agency, Magazine, Parallax, Wedding, Christmas, Restaurant, Blog or App Showcase, just everything is possible with Canvas. We have included 100+ ready-to-use Homepages & 850+ HTML Files with the Package, it is this huge. Amazing flexibility, Dark Scheme, Super Shortcodes, Raw Bootstrap & Scalable Responsive Features makes Canvas standout from the crowd. Try out the demo.</p>

            <h4>Features</h4>
            <ul>
              <li><a href="https://github.com/diegovr7/Bootstrap-Marketplace/blob/master/LICENSE">MIT License</a></li>
              <li>Fully responsive HTML template created with Bootstrap 4</li>
              <li>Full page image header banner with vertically centered content</li>
              <li>Unique, modern design</li>
            </ul>

            <div id="disqus_thread"></div>
          </div>
          <div class="col-md-4">
            <div class="template-info">
              <div class="row">
                <div class="col-md-6">
                  <p><b>Last Update</b></p>
                  <p><b>Created</b></p>
                </div>
                <div class="col-md-6">
                  <p>8 january 19</p>
                  <p>22 october 17</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 offset-lg-2 col-lg-8 mx-auto text-center">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">HOME</a></li>
                <li class="list-inline-item"><a href="about.html">ABOUT</a></li>
                <li class="list-inline-item"><a href="license.html">LICENSE</a></li>
                <li class="list-inline-item"><a href="support.html">SUPPORT</a></li>
                <li class="list-inline-item"><a href="contact.html">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

    <section id="copyright">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <img src="../assets/images/logo.svg" class="img-fluid">
            <p>By <a href="http://templune.com/" rel="noopener" target="_blank">Templune</a></p>
          </div>
          <div class="col-md-6 col-sm-12">
            <small>© 2019 Free Bootstrap. Free Bootstrap is a project created and maintained by <a href="http://templune.com/" rel="noopener" target="_blank">Diego Velázquez</a> at <a href="https://smartoasis.mx/" rel="noopener" target="_blank">Smart Oasis</a>. Themes and templates licensed <a href="https://opensource.org/licenses/MIT">MIT</a>, Start Bootstrap website <a href="https://creativecommons.org/licenses/by/3.0/" rel="noopener" target="_blank">CC BY 3.0</a>. Html5 Templates based on <a href="https://getbootstrap.com/" rel="noopener" target="_blank">Bootstrap</a>.</small>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="icons-container">
              <div class="icon-box">
                <a href="https://www.instagram.com/diegovr7/" target="_blank" rel="noopener"><i class="icon ion-logo-instagram"></i></a>
              </div>
              <div class="icon-box">
                <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="icon ion-logo-dribbble"></i></a>
              </div>
              <div class="icon-box">
                <a href="https://github.com/diegovr7/Bootstrap-Marketplace" target="_blank" rel="noopener"><i class="icon ion-logo-github"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "http://bootstrap-marketplace.templune.com/";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = templateOnw; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://templune.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
  </body>
</html>