@media (max-width: 575.98px) { 
    .btn {
        width: 100%;
        margin: 8px 0;
    }
    #footer {
        text-align: center;
    }
    .footer-buttons {
        text-align: center;
    }
}

@media (max-width: 768px) { 
    .btn {
        margin: 5px 0;
    }
 }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }
